<div class="inner-yellow">
<p class="pokemon-font"><strong>HP:</strong> {{hp}}</p>
<p class="pokemon-font"><strong>ATK: </strong> {{atk}}</p>
<p class="pokemon-font"><strong>DEF: </strong> {{def}}</p>
</div>