<div class="inner-yellow">
<p class="pokemon-font"><strong>SPATK:</strong> {{spAtk}}</p>
<p class="pokemon-font"><strong>SPDEF:</strong> {{spDef}}</p>
<p class="pokemon-font"><strong>SPEED:</strong> {{speed}}</p>
</div>