<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/styles.css">
  <title>My Pokedex</title>
</head>

<body>
  {{{ body }}}

  <!-- The Modal -->
  <div id="signInModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div style="background-color:#c00d0d" class="modal-header">
        <span id="signInSpan" class="close">&times;</span>
        <h2 style="color:black">SIGN IN</h2>
      </div>
      <div class="modal-body">
        <div class="container">
          <P>If you've never logged in before please provide your name.</P>
          <P>If you already have an account, log in with email and password.</P>
          <br>
          <form id="signIn">
            <label for="name">
              <b>NAME:</b>
            </label>
            <input id="name" type="text" placeholder="" name="username">
            <br>
            <br>
            <label for="email">
              <b>EMAIL:</b>
            </label>
            <input id="email" type="email" placeholder="" name="email" required>
            <br>
            <br>
            <label for="password">
              <b>PASSWORD:</b>
            </label>
            <input id="password" type="password" placeholder="" name="password" required>
            <br>
            <br>
            <button id="submit" type="submit">LOGIN</button>
          </form>
        </div>
      </div>
      <div style="background-color:#c00d0d"class="modal-footer">
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>
</body>

</html>